---
layout: main
title: Gallery
permalink: /gallery/
order: 3
gallery:
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: pink_1
        extention: .jpg
        aspectratio:
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: pink_2
        extention: .jpg
        aspectratio:
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: napoleon_1p
        extention: .jpg
        aspectratio: portrait
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: pink_3
        extention: .jpg
        aspectratio:
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: red_1p
        extention: .jpg
        aspectratio: portrait
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: red_4
        extention: .jpg
        aspectratio:
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: van_2
        extention: .jpg
        aspectratio:
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: red_1
        extention: .jpg
        aspectratio:
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: red_2
        extention: .jpg
        aspectratio:
    - image:
        caption: Plece text here
        directory: /assets/gallery/
        name: red_3
        extention: .jpg
        aspectratio:
---


<ul class="image-gallery">
    {% for item in page.gallery %}
    <input type="checkbox" name="{{ item.image.name }}" id="{{ item.image.name }}">
    <li{% if item.image.aspectratio %} class="{{ item.image.aspectratio }}"{% endif %}> 
        <figure>
            <img src="{{ site.baseurl }}{{ item.image.directory }}{{ item.image.name }}{{ item.image.extention }}" alt="{{ item.image.name }}">
            <figcaption>{{item.image.caption}}</figcaption>
            <label for="{{ item.image.name }}"></label>
        </figure>
    </li>
    {% endfor %}
</ul>