---
layout: main
title: Gallery
permalink: /gallery/
order: 5
---

<!-- <ul class="gallery">
    {% assign image_files = site.static_files | where: "image", true %}
    {% assign galleryAllText = site.pages | where: "galleryText", true %}
    {% for galleryText in galleryAllText %}
        {% for myimage in image_files %}

        <li {% if myimage.portrait %}class="portrait"{% endif %}>
            <input type="checkbox" name="{{ myimage.basename }}" id="{{ myimage.basename }}">
            <a href="">
                <figure>
                    <img src="{{ site.baseurl }}{{ myimage.path }}" alt="{{ myimage.basename }}">
                    <figcaption>
                        galleryText.{{ myimage.path }}
                    </figcaption>
                    <label for="{{ myimage.basename }}"><span></span></label>
                </figure>
            </a>
        </li>
        
        {% endfor %}
    {% endfor %}
</ul> -->

<ul class="gallery">
    <li>
        <input type="checkbox" name="pink_1" id="pink_1">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Pink_1.JPG" alt="pink_1">
                <figcaption>Plece text here</figcaption>
                <label for="pink_1"><span></span></label>
            </figure>
        </a>
    </li>
    <li>
        <input type="checkbox" name="pink_2" id="pink_2">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Pink_2.JPG" alt="pink_2">
                <figcaption>Plece text here</figcaption>
                <label for="pink_2"><span></span></label>
            </figure>
        </a>
    </li>
    <li class="portrait">
        <input type="checkbox" name="napoleon_1P" id="napoleon_1P">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Napoleon_1P.JPG" alt="napoleon_1P">
                <figcaption>Plece text here</figcaption>
                <label for="napoleon_1P"><span></span></label>
            </figure>
        </a>
    </li>
    <li>
        <input type="checkbox" name="pink_3" id="pink_3">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Pink_3.JPG" alt="pink_3">
                <figcaption>Plece text here</figcaption>
                <label for="pink_3"><span></span></label>
            </figure>
        </a>
    </li>
    <li class="portrait">
        <input type="checkbox" name="red_1P" id="red_1P">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Red_1P.JPG" alt="red_1P">
                <figcaption>Plece text here</figcaption>
                <label for="red_1P"><span></span></label>
            </figure>
        </a>
    </li>
    <li>
        <input type="checkbox" name="red_4" id="red_4">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Red_4.JPG" alt="red_4">
                <figcaption>Plece text here</figcaption>
                <label for="red_4"><span></span></label>
            </figure>
        </a>
    </li>
    <li>
        <input type="checkbox" name="van_2" id="van_2">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Van_2.JPG" alt="van_2">
                <figcaption>Plece text here</figcaption>
                <label for="van_2"><span></span></label>
            </figure>
        </a>
    </li>
    <li>
        <input type="checkbox" name="red_1" id="red_1">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Red_1.JPG" alt="red_1">
                <figcaption>Plece text here</figcaption>
                <label for="red_1"><span></span></label>
            </figure>
        </a>
    </li>
    <li>
        <input type="checkbox" name="red_2" id="red_2">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Red_2.JPG" alt="red_2">
                <figcaption>Plece text here</figcaption>
                <label for="red_2"><span></span></label>
            </figure>
        </a>
    </li>
    <li>
        <input type="checkbox" name="red_3" id="red_3">
        <a href="">
            <figure>
                <img src="{{ site.baseurl }}/assets/gallery/Red_3.JPG" alt="red_3">
                <figcaption>Plece text here</figcaption>
                <label for="red_3"><span></span></label>
            </figure>
        </a>
    </li>
</ul>