---
layout: main
title: Contacts
permalink: /contacts/
order: 3
---

<section class="pages">
    <h1>All Pages</h1>
    <ul>
        {% for page in site.pages %}
        {% if page.title %}
        <li>
            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9494.848067101357!2d22.770581379707227!3d42.324276217026295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aa99bdb764e7ef%3A0xa00a014cd0e6ef0!2zMjU0MCDQmtC-0L3Rj9Cy0L4!5e1!3m2!1sbg!2sbg!4v1564951308794!5m2!1sbg!2sbg" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>