<!-- Slideshow container css-->
<div class="slideshow-css">
    <div class="mySlides-css">
        <img src="https://images.unsplash.com/photo-1491839334465-8a0bd5bd7d2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=960&q=80">
    </div>

    <div class="mySlides-css">
        <img src="https://images.unsplash.com/photo-1528820511496-3497bf79194b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=960&q=80">
    </div>

    <div class="mySlides-css">
        <img src="https://images.unsplash.com/photo-1531166852799-a5fecb284f63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=960&q=80"> 
    </div>

    <div class="mySlides-css">
        <img src="https://images.unsplash.com/photo-1462741199256-f1821d9122fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=960&q=80">
    </div>

    <div class="mySlides-css">
        <img src="https://images.unsplash.com/photo-1520236060906-9c5ed525b025?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=960&q=80">
    </div>
</div>