<label for="toggle" class="toggle-nav-btn">
    <span class="menu"></span>
</label>
<nav class="site-navigation">
    <ul>
        {% assign nav = site.pages | sort:'order' %}
        {% for item in nav %}
            {% if item.order %}
            {% if item.title == "Login" %}{% assign current = true %}{% endif %}
                <li>
                    <a href="{{ site.baseurl }}{{ item.url }}"
                        {% if page.title == item.title %} class="selected"{% endif %}
                        {% if page.title == "Registration" and current %} class="selected"{% endif %}>
                        {{ item.title-bg }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>