.site-header .menu:before {
    transition: transform 0.5s ease-in;
}

.toggle-nav-btn:hover .menu:before {
    transform: scale(1.5);
}

.toggle-nav:checked+.site-header .site-navigation li {
    animation: slidIn 0.7s linear;
    animation-fill-mode: both;
}

.toggle-nav:checked+.site-header .site-navigation ul li:nth-child(1)  {
    animation-delay: 0.1s;
}

.toggle-nav:checked+.site-header .site-navigation ul li:nth-child(2)  {
    animation-delay: 0.2s;
}

.toggle-nav:checked+.site-header .site-navigation ul li:nth-child(3)  {
    animation-delay: 0.3s;
}

.toggle-nav:checked+.site-header .site-navigation ul li:nth-child(4)  {
    animation-delay: 0.4s;
}

.toggle-nav:checked+.site-header .site-navigation ul li:nth-child(5)  {
    animation-delay: 0.5s;
}

.toggle-nav:checked+.site-header .site-navigation ul li:nth-child(6)  {
    animation-delay: 0.6s;
}

.toggle-nav:checked+.site-header .site-navigation ul li:nth-child(7)  {
    animation-delay: 0.7s;
}

@keyframes slidIn {
    from {
        transform: translateX(-1em);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}