ul.gallery {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    grid-gap: 5px;
    grid-auto-flow: dense;
}

.gallery li {
    display: block;
    position: relative;
    overflow: hidden;
    grid-column: span 3;
    grid-row: span 2;
    /* border: 1px solid blueviolet; */
}

.gallery li:before {
    display: block;
    content: "";
    padding-top: 75%;
}

.gallery li.portrait {
    grid-column: span 3;
    grid-row: span 3;
}

.gallery li.portrait:before {
    padding-top: 133.33%;
}

.gallery li>a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   /* animation */
}

.gallery figure {
    width: 100%;
    position: relative;
}

.gallery img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.gallery li.portrait>a {
    display: flex;
}

.gallery li.portrait img {
    height: 100%;
    width: auto;
}

.gallery figcaption {
    display: none;
    position: absolute;
    bottom: 1em;
    color: var(--color-primary-core-site);
    text-align: center;
    width: 100%;
    padding: 0 2em;
}

.gallery li.portrait figcaption {}

@media (min-width: 500px) {
    ul.gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

.gallery li input {
    position: absolute;
    pointer-events: none;
    display: none;
}

.gallery li label span:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.gallery li input:checked+a label span:before {
    opacity: 0;
   
}

.gallery li input:checked+a:before {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    cursor: default;
    pointer-events: inherit;
    
}
.gallery li input:checked+a label:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background:linear-gradient(to top,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)) ; */
    z-index: 11;
    cursor: pointer;
}

.gallery li input:checked+a figcaption {
    display: block;
/* amination */
    /* z-index: 12; */
}

.gallery li input:checked+a figure {
    position: fixed;
    top: 0;left:50%;
    transform: translateX(-50%);
    max-width: var(--layout-main-width);
    max-height: 100vh;
    opacity: 1;
    z-index: 11;
    /* animation */
}

.gallery li input:checked+a img {
    height: auto;
    width: 100%;
}

.gallery li label span:hover:before {
    opacity: 0;
}
