ul.gallery {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    grid-gap: 5px;
    grid-auto-flow: dense;
}

.gallery li {
    display: none;
    position: relative;
    overflow: hidden;
    grid-column: span 3;
    grid-row: span 2;
    /* border: 1px solid blueviolet; */
}

.gallery li:before {
    display: block;
    content: "";
    padding-top: 75%;
}

.gallery li.portrait {
    grid-column: span 3;
    grid-row: span 3;
}

.gallery li.portrait:before {
    padding-top: 133.33%;
}

.gallery li>a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 1s linear;
}

.gallery figure {
    width: 100%;
    position: relative;
}

.gallery img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.gallery li.portrait>a {
    display: flex;
}

.gallery li.portrait img {
    height: 100%;
    width: auto;
}

.gallery figcaption {
    display: block;
    position: absolute;
    bottom: 2em;
    color: var(--color-primary-core-site);
    text-align: center;
    width: 100%;
    padding: 0 2em;
}

.gallery li.portrait figcaption {}

@media (min-width: 500px) {
    ul.gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

.gallery li input {
    position: absolute;
    pointer-events: none;
    display: none;
}

.gallery li label span:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* .gallery li label span:after {
    display: none;
    content: "";
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
} */

.gallery li input:checked+a label span:before {
    opacity: 0;
    /* background: rgba(0, 0, 0, 0); */
}

/* .gallery li input:checked+a label:after {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
} */

.gallery li input:checked+a figcaption {
    display: block;
    /* opacity: 1; */
    /* transform: translateX(0.5em); */
    -webkit-animation: showText 0.5s linear 1s;
            animation: showText 0.5s linear 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    z-index: 11;
}

.gallery li input:checked+a {
    position: fixed;
    /* transform: translateY(50%); */
    /* bottom: 50%; */
    -webkit-animation: showIn 1s linear;
            animation: showIn 1s linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    max-width: var(--layout-main-width);
    height: auto;
    margin: 0 auto;
    opacity: 1;
    z-index: 1;
}

.gallery li label span:hover:before {
    opacity: 0;
    /* background: rgba(0, 0, 0, 0); */
}

@-webkit-keyframes showIn {
    from {}
    to {
        transform: translateY(20%);
    }
}

@keyframes showIn {
    from {}
    to {
        transform: translateY(20%);
    }
}

@-webkit-keyframes showText {
    from {
        opacity: 0;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes showText {
    from {
        opacity: 0;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}

/* body .main::before{
    display: block;
    content: "";
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    display: none;
} */