:root {
    --font-size-root-small: 12px;
    --font-size-root-normal: 14px;
    --font-size-root-large: 16px;
    --font-size-root-big: 18px;
    --font-size-root-huge: 21px;
    --font-size-root-enormous: 24px;

    --layout-main-width: 60em;

    --color-primary-site: blueviolet;
    --color-primary-core-site: #FFF;

    --color-body-bgrd: #FFF;
    --color-body-text: #000;
    --color-link-defaut: #A00;

    --color-border-defaut: #999;
    --spacing-layout-elements:2em;
}