<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cherry</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main">
        <header class="main-header">
            <div class="wrapper">
                <div class="site-header">
                    <div class="site-logo">
                        <a href="#" class="image">
                            <img src="/assets/Logo.jpg" alt="logo">
                        </a>
                        <p class="text">
                            get cherry
                        </p>
                    </div>
                    <nav class="site-navigation">
                        <ul>
                            <li><a href="/about.html">Posts</a></li>
                            <li><a href="/_layouts/login.html">Login</a></li>
                            <li><a href="#">Registration</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <article class="main-article">
            <div class="wrapper">
                <section class="site-section">
                    <ul>
                        <li class="site-section-inner">
                            <p class="imges">
                                <img src="/assets/Van.jpg" alt="van">
                            </p>
                            <p class="header">
                                <h2>Ван</h2>
                            </p>
                            <p class="description">
                                Сорт късни тъмно червени череши с къса дръжка. Концентрирано сладки.
                            </p>
                        </li>
                        <li class="site-section-inner">
                            <p class="imges">
                                <img src="/assets/Napoleon.jpg" alt="napolon">
                            </p>
                            <p class="header">
                                <h2>Наполеон</h2>
                            </p>
                            <p class="description">
                                Сорт късни розови череши. Сладко - кисели на вкус. Отлични за компот и сладко.
                            </p>
                        </li>
                    </ul>
                    <p class="primary-btn"><a href="#">Запази череши за<span>Юни 2020</span></a></p>
                    <!-- book your cherries for<span>June 2020</span> -->
                </section>
            </div>
        </article>
        <footer class="main-footer">
            <div class="wrapper">
                <section class="pages">
                    <ul>
                        {% for page in site.pages %}
                        {% if page.title %}
                        <li>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </section>
                <div class="site-footer">
                    <p>All rights reserved from 2019 &copy;</p>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>