<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cherry</title>
    <script src="https://kit.fontawesome.com/ff2f9140ef.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/login.css">

</head>

<body>
    <div class="main">
        <header class="main-header">
            <div class="wrapper">
                <div class="site-header login">
                    <div class="site-logo">
                        <a href="{{ site.baseurl }}/" class="image">
                            <img src="{{ site.baseurl }}/assets/Logo.jpg" alt="logo">
                        </a>
                        <p class="text">
                            get cherry
                        </p>
                    </div>
                    <nav class="site-navigation">
                        <ul>
                            <li><a href="{{ site.baseurl }}/about">About</a></li>
                            <li><a href="{{ site.baseurl }}/Pages/">Pages</a></li>
                            <li><a href="{{ site.baseurl }}/Login/">Login</a></li>
                            <li><a href="{{ site.baseurl }}/Registration/">Registration</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        {{ content }}
        <footer class="main-footer">
            <div class="wrapper">
            
                <div class="site-footer">
                    <p>All rights reserved from 2019 &copy;</p>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>