<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Next</title>
</head>

<body>
        <!-- {% for elem in site.layouts %}
            {{ elem.content }}
        {% endfor %} -->

    <ul>
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam perspiciatis quam earum laudantium eligendi,
        ducimus nesciunt numquam esse, voluptatem repellat exercitationem, laboriosam recusandae natus animi sunt. Ex
        repudiandae veniam nostrum.</p>

    {% for category in site.categories %}
    <h2>{{ category[0] }}</h2>
    <ul>
        {% for post in category[1] %}
            {% if post.author %} 
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                <p>{{ post.date }}</p>
                <p>{{ post.author }}</p>
                {{ post.content }}
            {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}

</body>

</html>