<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="main">

        <header class="main-header">
            <div class="wrapper">
                <input type="checkbox" name="toggle" id="toggle" class="toggle-nav">
                <div class="site-header">
                    {% include site-logo.html %}
                    {% include navigation.html %}
                </div>
            </div>
        </header>

        <main class="main-content">
            <div class="wrapper">
                <!-- <section class="site-section{% if page.title %} {{ page.title | slugify }}{% endif %}"> -->
                    <article class="single-post">
                            {% include single-post.html %}
                    </article>
                <!-- </section> -->
            </div>
        </main>

        {% include footer.html %}
        
    </div>
</body>

</html>