.main-form {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    position: relative;

    fieldset {
        padding: 1rem;
        background: #EEE;
        border: 1px solid var(--color-border-defaut);
        border-radius: 0.5em;
        

        legend {
            padding: 0.5rem 2.5rem;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-50%);
            z-index: 2;
            background: #EEE;
            border: 1px solid var(--color-border-defaut);
            border-radius: 0.5em;
        }
    }

    label {
        font-weight: bold;
        padding: 0.25em 0.25em 0.25em 0;
        flex: 1 1;
        text-align: right;
        position: absolute;
        top: -2em;
        left: 0;
    }
    .username {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        justify-items: end;
        position: relative;
    }
    .password {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        justify-items: end;
        position: relative;

        &.last {
            padding-bottom: 0;
        }

        span:before{
            @include fap;
            content: '\f084';
            color: black;
        }
    }
    .username {
        margin-top: 3rem;

        span:before{
            @include fap;
            content: '\f007';
            color: black;
        }
    }
    .form-input {
        padding: 0.5em;
        border-radius: 0.3rem;
        border: 1px solid var(--color-border-ligth);
        flex: 1 1;
        outline: 0;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
        appearance: none;
        -webkit-appearance: none;
    }
    .form-btn{
        padding-bottom: 0;
        text-align: center;

        .primary-btn {
            display: inline-block;
            margin: 1rem 0;
        }
    }
    .question {
        text-align: center;
        padding: 0;

        a:hover{
            color:var(--color-link-hover);
        }
    }
}

.main-form .username span:before, .main-form .password span:before {
    background-color: var(--color-body-bgrd);
    border: 1px solid var(--color-border-ligth);
    display: flex;
    align-items: center;
    padding: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-right: none;
    outline: none;
}

.main-form .username span, .main-form .password span {
    order: 1;
}

.main-form .username input, .main-form .password input {
    order: 2;
}

.main-form .username input:focus + span:before, .main-form .username input:hover + span:before,
.main-form .password input:focus + span:before, .main-form .password input:hover + span:before {
    border: 1px solid var(--color-primary-site);
    color: var(--color-primary-site);
    border-right: none;
    outline: none;
}               

.main-form .username input:focus, .main-form .username input:hover,
.main-form .password input:focus, .main-form .password input:hover {
    border: 1px solid var(--color-primary-site);
    border-left: none;
    outline: none;
}