
/* .site-section.login, .site-section.registration, .site-section.about, .site-section.pages {
    padding: 5em 0 10em 0;
} */

.site-section.pages ul {
    display: block;
    list-style-type: disc;
}

.site-section {
    width: 100%;
    margin: 0 auto;
}

.site-section ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
}

.site-section .site-section-inner {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    /* align-items: center; */
    justify-content: stretch;
    text-align: center;
    margin: 1em auto;
    border: 1px solid #AAA;
    border-radius: 1em;
    overflow: hidden;
    background: #EEE;
}

.site-section-inner p {
    padding: 0;
}

.site-section-inner .description {
    padding-bottom: 1em;
}

.site-section-inner .imges {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #AAA;
}

.site-section-inner .imges:before {
    display: block;
    content: '';
    padding-top: 73%;
}

.site-section-inner .imges img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-section .btn {
    text-align: center;
    padding: 1em 0;
}

.site-section .btn .primary-btn {
    display: inline-block;
    /* text-decoration: none; */
    /* color: #FFF; */
    padding: 1em 2em;
    font-size: 1.25em;
    border-width: 3px;
}

/* .site-section .primary-btn:hover {
    background: #FFF;
    color: blueviolet;
    border-color: blueviolet;
} */

.site-section .primary-btn span {
    text-transform: uppercase;
    padding-left: 0.5em;
    font-weight: bold;
}


@media (max-width:724px) {
    .site-section ul {
        justify-content: center;
    }
    .site-section ul .site-section-inner {
        flex: 0 0 362px;
    }
}

@media (max-width:362px) {
    .site-section ul .site-section-inner {
        flex: 0 0 100%;
    }
    .btn{
        width:100%;
    }
    .site-section .primary-btn {
        display: block;
    }
}