.site-header .site-navigation {
    /* margin-left: auto; */
    /* display: none; */
    /* border: 1px solid #000; */
}

.site-navigation ul {
    padding: 0;
    list-style: none;
    align-items: center;
}

.site-navigation ul li {
    overflow: hidden;
}

.site-navigation ul li a {
    text-decoration: none;
    color: var(--color-primary-site);
    text-transform: uppercase;
    padding: 0.5em 1em;
    border-radius: 0.5em; 
    /* outline: none; */
    border: 1px solid var(--color-main-site);
    outline: none;
}

.site-navigation ul li a:hover {
    border-color: var(--color-primary-site);
      
        
}

.site-navigation ul li a.selected {
    font-weight: bold;
}


/* ---MQ Header--- */

/* Phone and Tablet */

@media (min-width: 640px) {
    .site-navigation ul {
        display: flex;
    }
    .site-navigation ul li {
        display: flex;
        flex-grow: 1;
    }
    .site-navigation ul li:not(:first-child) {
        // padding-left: 0.3em;
    }
    .site-navigation ul li a {
        display: flex;
    }
  
}
/*@media (max-width: 830px)*/
@media (max-width: 639px) {
 
    .site-header nav.site-navigation {
        display: none;  
    }

    .toggle-nav:checked+.site-header .site-navigation {
        display: block;
        flex-basis: 100%;
        text-align: right;
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translateX(calc(-100% - var(--spacing-layout-elements)));
        z-index: 2;
    }
    .toggle-nav:checked+.site-header .site-navigation li {
        text-align: center;
        margin: 0.25em 0;
    }
    .toggle-nav:checked+.site-header .toggle-nav-btn .menu:before {
        content: "\f00d";
    }
    .site-navigation ul li a {
        display: block;
        background: var(--color-primary-core-site);
        border-radius: 0.5em;
        border: 1px solid var(--color-primary-site);
    }
    .site-navigation li a:hover {
        background: var(--color-primary-site);
        color: var(--color-primary-core-site);
        border-color: var(--color-primary-site);
    }
}