
/* .site-section.login, .site-section.registration, .site-section.about, .site-section.pages {
    padding: 5em 0 10em 0;
} */

// .site-section.contacts ul {
//     display: block;
//     list-style-type: disc;
// }
//    60px + 0.5 * var(--spacing-layout-elements);
.site-section.home {
    .side-fixed {
       
        background:  #FFF;
        position: fixed;
        display: inline-block;
       left: 50%;
       transform: translateX(-50%);
       top:5em;
    
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
        z-index: 10;

        display: none;
        li {
            display: flex;
            flex-grow: 1 1 auto;
            border: 1px solid #EEE;
            a {
                padding: 0.5em 1em;

            }
        }
    }
    ul.sorts {
        display: flex;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0;

        .site-section-inner {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            /* align-items: center; */
            justify-content: stretch;
            text-align: center;
            margin: 1em auto;
            border: 1px solid #AAA;
            border-radius: 1em;
            overflow: hidden;
            background: #EEE;

            p {
                padding: 0;
            }

            .description {
                padding-bottom: 1em;
            }
            @include mq(phone){
                flex: 0 0 400px;
            }

            // @include mq(tablet){
            //     flex: 0 0 400px;
            // }

            .imges {
                display: block;
                overflow: hidden;
                position: relative;
                margin: 0.5em;
                border-radius: 0.5em;
                border: 1px solid #AAA;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .imges:before {
                display: block;
                content: '';
                padding-top: 73%;
            }
        }
    }

    .btn {
        text-align: center;
        padding: 1em 0;

        .primary-btn {
            display: block;
            padding: 1em 2em;
            font-size: 1.25em;
            border-width: 3px;

            @include mq(phone){
                display: inline-block;
            }

            span {
                text-transform: uppercase;
                padding-left: 0.5em;
                font-weight: bold;
            }
        }
    }
}