.site-header {
    & .image {
        display: block;
        width: 65px;
        height: 60px;
        position: relative;
        overflow: hidden;
        border-radius: 0.3em;
    }

    & .image img:before {
        display: block;
        content: '';
        padding-top: 66.67%;
    }

    & .image img {
        width: 200%;
        height: auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    & .site-logo {
        position: relative;
    }

    & .text {
        font-family: 'PT Sans Narrow', Arial, sans-serif;
        font-size: 18px;
        color: blueviolet;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        line-height: 1;
        pointer-events: none;
    }

    
    & .toggle-nav-btn {
        display: inline-block;
        text-align: right;
        margin-left: auto;

        @include mq(tablet){
            display: none;
        }

        & .menu:before {
            display: inline-block;
            content: '\f0c9';
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            padding-right: 0.5em;
            color: var(--color-primary-site);
            font-size: 2em;
        }
    }

    @at-root .toggle-nav {
        position: absolute;
        opacity: 1;
        pointer-events: none;
        display: none;
    }
}